build
pjlib-util/bin
pjsip-apps/bin
pjsip/include
pjsip/lib
third_party/lib
pjnath/bin
pjmedia/lib
pjlib/include
pjlib/bin
pjlib-util/lib
pjlib/lib
build.mak
config.log
config.status
pjmedia/bin
pjmedia/include
pjnath/lib
pjsip/bin
